body {

    margin: 0;

    font-family: 'Lato', sans-serif;

}

header {

    text-align: center;

    background: #F5F5F5;

    height: 85px;

    position: fixed;

    width: 100vw;

    top: 0;

}

header img {

    height: 55px;

}


